.wrapper {
  position: relative;

  display: flex;
  justify-content: end;

  width: 1076px;
  height: 654px;
  margin: 0 auto;
  margin-top: 150px;

  img {
    top: 70px;
    left: 0;
    position: absolute;

    width: 526px;
    height: 514px;
  }

  main {
    width: 636px;
    height: 654px;
    background-color: rgba(247, 236, 225, 1);

    padding: 70px 60px 84px 146px;

    h2 {
      font-size: 36px;
      margin-bottom: 25px;
    }

    p {
      font-size: 14px;
      margin-bottom: 35px;
    }

    h3 {
      font-size: 21px;
      margin-bottom: 25px;
    }

    ul {
      padding-left: 15px;
      list-style-image: url('/list-style.svg');

      li {
        padding-left: 15px;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
}
