.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 1296px;
  height: 764px;

  margin: 0 auto;
  margin-top: 120px;

  main {
    position: relative;

    width: 1296px;
    height: 654px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    img {
      position: absolute;
      top: 130px;
      left: 0;
      width: 526px;
      height: 514px;
    }

    section {
      padding: 70px 60px 95px 146px;

      width: 854px;
      height: 654px;
      background-color: rgba(247, 236, 225, 1);

      h3 {
        font-size: 36px;
        margin-bottom: 40px;
      }

      .pBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;

        font-size: 14px;
      }

      .numberBlock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-top: 58px;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 17px;

          p {
            font-size: 14px;
          }

          img {
            position: static;
            width: 29px;
            height: 45px;
          }
        }
      }
    }
  }
}
