.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  .headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 180px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('https://images.wallpaperscraft.ru/image/single/tennis_raketki_miach_203982_1920x1080.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      margin-bottom: 20px;
      text-align: center;
      color: white;
    }
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1000px;
    height: 400px;

    margin: 0 auto;
    margin-top: 80px;

    flex-grow: 1;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 120px;
        height: 120px;
      }
    }
  }
}
